<div class="app-section">
	<h2 id="headline">Drop the exported file from F-Secure Key</h2>
	<!-- <button id="demobtn" class="btn">do</button> -->
	<div id="droptarget">
		Here
	</div>
	<div id="app-results">
		<div class="form-group">
			<a href="#" class="btn btn-primary btn-lg" id="download-results">Download CSV</a>
			<!-- <textarea rows=10 class="form-control" id="parseoutput"></textarea> -->
		</div>
		<p><i>At least LastPass can use this format, customizable output is work-on-progress</i></p>
	</div>
</div>
